body{
    width:1600px ;
}
ul, li, dl, dt, dd{
    list-style: none;
}
#searchBox1{
    width: 1400px;
    margin-left: 160px;
}
.noPadding{
    padding: 0;
}

/*当前位置*/
.position {
    height: 40px;
    line-height: 40px;
    overflow: hidden;

}
.position i{
    color: red;
    font-weight: normal;
}

#content1{

}

/*筛选表格*/
table.choice {
    border-collapse: collapse;
    border: 2px solid #cccccc;
    margin:0 auto;

}
table.choice tr{
    vertical-align: top;
}
table.choice tr td {
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

table.choice tr td.td_a {
    color: #888888;
}

table.choice tr td.td_a a {
    display: inline-block;
    margin: 0 11px;
    color: #888888;
}

table.choice tr td.td_a a:hover, table.choice tr td.td_a a.now {
    color: #ff4e00;
}

#content2{
    margin-top: 20px;
}

/*历史浏览*/
.l_history {
    overflow: hidden;
    float: left;
    padding: 0;
    border: 1px solid #eaeaea;
}
.his_t {
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    background: url(../img/h_t.gif) no-repeat 10px center;
    color: #ff4e00;
    font-size: 16px;
    padding-left: 22px;
    padding-right: 10px;
    border-bottom: 1px solid #eaeaea;
}

.his_t a {
    color: #888888;
    font-size: 14px;
}
.l_history ul{
    padding:0;
}

.l_history ul li {
    height: 240px;
    overflow: hidden;
    padding-left:15px ;
    border-bottom: 1px solid #eaeaea;
}

.l_history ul li .img {
    width: 185px;
    height: 162px;
    padding-left: 10px;
    overflow: hidden;
    margin-top: 10px;
}
.l_history ul li .name {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.l_history ul li .price {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    color: #999999;
    text-align: center;
    text-transform: uppercase;
}

.l_history ul li .price {
    color: #B00504;
    font-size: 18px;
}

.l_list {
    overflow: hidden;
    float: left;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
}
.list_t {
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}
.list_or a {
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    color: #555555;
    text-indent: 12px;
    float: left;
    display: inline;
    margin-right: -1px;
    margin-top: 6px;
    padding: 0;
    border: 1px solid #cccccc;
}

.list_or a:hover, .list_or a.now {
    color: #FFF;
    background-color: #ff4e00;
}

.list_or .i_up {
    width: 15px;
    height: 8px;
    line-height: 8px;
    overflow: hidden;
    background: url(../img/i_up.gif) no-repeat center top;
    text-indent: -9999em;
    float: right;
    margin-top: 6px;
    margin-right: 8px;
}

.list_or .i_down {
    width: 15px;
    height: 8px;
    line-height: 8px;
    overflow: hidden;
    background: url(../img/i_down.gif) no-repeat center top;
    text-indent: -9999em;
    float: right;
    margin-top:-10px;
    margin-right: 8px;
}
.fr{
    float: right;
}

/*筛选显示列表*/
.list_c {
    overflow: hidden;
    margin: 20px auto;
    padding: 0;
}

.list_c ul {
    overflow: hidden;
}

ul.cate_list {
    padding:0;
    margin: 0;
}

ul.cate_list li {
    height: 316px;
    overflow: hidden;
    float: left;
    display: inline;
    margin:10px 0 ;
    padding:0 10px ;

    text-align: center;
    box-sizing: border-box;
}

ul.cate_list li:hover {
    background-color: #FFF;
    -webkit-box-shadow: 0 0 5px #e0e0e0;
    -moz-box-shadow: 0 0 5px #e0e0e0;
    box-shadow: 0 0 5px #e0e0e0;
}

ul.cate_list li .img {
    background-origin: border-box;
    background-clip: border-box;
    width: 210px;
    margin-left: 30px;
    height: 185px;
    overflow: hidden;
    margin-top: 5px;
}

ul.cate_list li .price {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-transform: uppercase;
    margin-top: 10px;
    color: #ff4e00;
    font-size: 14px;
}

ul.cate_list li .price span {
    font-size: 18px;
}

ul.cate_list li .name {

    height: 25px;
    line-height: 25px;
    overflow: hidden;
    font-size: 14px;
}

ul.cate_list li .carbg {
    height: 30px;
    overflow: hidden;
    margin-top: 15px;
    padding: 0;
}

ul.cate_list li .carbg a.ss {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    background: url(../img/heart.png) no-repeat 10px center;
    color: #888888;
    text-indent: 33px;
    float: left;
    display: inline;
    margin-right: -1px;
    border: 1px solid #cccccc;
    padding: 0;
}

ul.cate_list li .carbg a.ss:hover {
    color: #888888;
    background: url(../img/heart_h.png) no-repeat 10px center;
}

/*ul.cate_list li:hover .carbg a.ss {*/
/*color: #888888;*/
/*background: url(../images/heart_h.png) no-repeat 10px center;*/
/*}*/

ul.cate_list li .carbg a.j_car {
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    background: url(../img/cars.png) no-repeat 24px center;
    color: #ff4e00;
    text-indent: 47px;
    float: left;
    display: inline;
    margin-right: -1px;
    border: 1px solid #cccccc;
    padding: 0;
}

ul.cate_list li .carbg a.j_car:hover {
    color: #FFF;
    background:#ff4e00 url(../img/cars_h.png) no-repeat 24px center;
    border: 1px solid #ff4e00;
}

ul.cate_list li:hover .carbg a.j_car {
    color: #FFF;
    background:#ff4e00 url(../img/cars_h.png) no-repeat 24px center;
    border: 1px solid #ff4e00;
}

/*分页*/
.pages {
    overflow: hidden;
    color: #888888;
    padding: 20px 10px;
    text-align: right;
    font-size: 16px;
    margin-top: 20px;
}
.pages span{
    height: 36px;
    line-height: 36px;
    display: inline-block;
    overflow: hidden;

}

.pages a {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    color: #666666;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    padding: 0 12px;
    margin: 0 4px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.pages a:hover, .pages a.cur {
    color: #FFF;
    background-color: #ff4e00;
    border: 1px solid #ff4e00;
}

.pages a.p_pre:hover {
    background-color: #eaeaea;
    color: #555555;
    border: 1px solid #cccccc;
}

#if_header{
    border: 0;
    height: 950px;
    padding: 0;
}
#if_footer{
    border: 0;
    height: 700px;
    margin-left: 80px;
}